<style> 
.grid_class {
	--square_size: 125px;
	grid-template-columns: repeat(3, var(--square_size));
	grid-template-rows: repeat(3, var(--square_size));
	background-image: url("Background.png");
	background-repeat: no-repeat;
	display: grid;
	grid-gap: 10px;
}
</style>
	
<div class = "grid_class">
	<div> 1 </div>
	<div> 2 </div>
	<div> 3 </div>
	<div> 4 </div>
	<div> 5 </div>
	<div> 6 </div>
	<div> 7 </div>
	<div> 8 </div>
	<div> 9 </div>
</div>