<style> 

.grid_class {
	grid-template-columns: 100px 100px 100px;
	display: grid;
	grid-gap: 10px;
}
	</style>
	
<div class = "grid_class">
	<div> 1 </div>
	<div> 2 </div>
	<div> 3 </div>
	<div> 4 </div>
	<div> 5 </div>
	<div> 6 </div>
</div>